# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Cache
.cache
.turbo

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
*.log

# Environment files
.env*

# Editor
.vscode
.idea
